[Unit]
Description=Sync gtk theme from Gnome to QT
ConditionUser=!root
StartLimitBurst=5
StartLimitIntervalSec=1

[Service]
SystemCallArchitectures=native
Type=oneshot
ExecStart=/usr/share/sync-kde-and-gtk-places/sync-gnome-theme-to-qt.sh

[Install]
WantedBy=default.target
